.App {
  text-align: center;
}

.textareas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center
}

.App-intro {
  font-size: large;
}

.thesisInput {
  grid-column-start: 1/2;
  grid-row-start: 1/2;
}

.referencesInput {
  grid-column-start: 2/3;
  grid-row-start: 1/2;
}

.checkReferences{
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

.missingReferences {
  margin-top: 30px;
}
